# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Streamlit cache
.streamlit/

# Test cache
.pytest_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db