# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Streamlit cache
.streamlit/

# Test cache
.pytest_cache/
__init__.py

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.streamlit/secrets.toml
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/